*{
    margin: 0;
    padding: 0;
    box-sizing: border-box ;
}

.teste1{
    width: 60%;
    height: 500px;
    margin: 0 auto;
    position: relative;
    background-image: url(../JavaScript/img/cenario.gif);
    backdrop-filter: dark;
    background-size: cover;
    background-repeat: no-repeat;
    overflow: hidden;
}
.pikachu{
    position: absolute;
    width: 180px;
    bottom: 0;
    left: 100px;
}
.jump{
    animation: jump 700ms ease-out;
}
.poke2{
    position: absolute;
    width: 200px;
    bottom: 0;
    animation: pokee-animation 2s infinite linear ;
}
@keyframes pokee-animation {
    from {
        right: 0;
    }
    to {
        right: 120%;
    }
}
@keyframes jump {
    0%{
        bottom: 0;
    }
    40%{
        bottom: 350px;
    }
    50%{
        bottom: 350px;
    }
    50%{
        bottom: 350px;
    }
    40%{
        bottom: 350px;
    }
    100%{
        bottom: 0;
    }
}

