*{
    margin: 0;
    padding: 0;
    box-sizing: border-box ;
    
}

.teste1{
    width: 70%;
    height: 600px;
    margin: 0 auto;
    position: relative;
    background-image: url(../JavaScript/img/cenario.gif);
    background-size: cover;
    background-repeat: no-repeat;
    overflow: hidden;
}
.pikachu{
    position: absolute;
    width: 180px;
    bottom: 0;
    left: 100px;
}
.jump{
    animation: jump 900ms ease-out;
}
.poke2{
    position: absolute;
    width: 200px;
    bottom: 0;

    animation: pokee-animation 4s infinite linear ;
}


.poke8{
    position: absolute;
    width: 150px;
    bottom: 0;
    top: 20px;
    right: 20px;
    animation: pokee-animation 8s infinite linear;
}
.poke7{
    position: absolute;
    width: 150px;
    bottom: 0;
    top: -20px;
    right: 0px;
    animation: pokee-animation 15s infinite linear ;
}
.poke9{
    position: absolute;
    width: 150px;
    bottom: 0;
    top: -10px;
    right: 20px;
    animation: pokee-animation 6s infinite linear;
}
.poke4{
    position: absolute;
    width: 500px;
    bottom: 0;
    top:160px;
    right: -120px;
}
.poke5{
    position: absolute;
    width: 400px;
    bottom: 0;
    right: -180px;
}
.poke6{
    position: absolute;
    width: 180px;
    bottom: 0;
    top: 440px;
    right: 20px;
}

@keyframes pokee-animation {
    from {
        right: 0;
    }
    to {
        right: 180%;
    }
}
@keyframes jump {
    0%{
        bottom: 0;
    }
    40%{
        bottom: 230px;
    }
    50%{
        bottom: 230px;
    }
    40%{
        bottom: 230px;
    }
    20%{
        bottom: 230px;
    }
    
    100%{
        bottom: 0;
    }
}

